
:root {
  --font-color-primary: #ffffff;
  --font-color-secondary: #c00113;
  --background-color: #0e1011;
  --font-size-p-desktop: 1.1rem;
  --font-size-title-desktop: 2.6rem;
}

.about-we-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color-primary);
}

.about-we-section .about-we-container {
  min-height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about-we-title h2 {
  font-size: var(--font-size-title-desktop);
  font-weight: 700;
}

.box-values h3 {
  color: var(--font-color-primary);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.box-values h3::before {
  content: "";
  display: block;
  position: relative;
  width: 30%;
  height: 2px;
  margin-right: 10px;
  background-color: var(--font-color-primary);
}
.box-values h3::after {
  content: "";
  display: block;
  position: relative;
  width: 30%;
  height: 2px;
  margin-left: 10px;
  background-color: var(--font-color-primary);
}

.box-values p {
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
  text-align: left;
}

.about-we {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-we h3 {
  color: var(--font-color-primary);
  position: relative;
  font-weight: 500;
}
.about-we h3::after {
  content: "";
  display: block;
  position: relative;
  width: 30%;
  height: 2px;
  margin: 10px 0;
  background-color: var(--font-color-primary);
}
.about-we p {
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
  text-align: left;
}

.about-we a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--font-color-primary);
  background-color: var(--font-color-secondary);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.about-we a:hover {
  background-color: var(--font-background-hover);
}

iframe {
  width: 100%;
  height: 280px;
}


.assessment-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.assessment-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assessment-title h2{
  font-size: var(--font-size-title-desktop);
  font-weight: 700;
}
.assessment-title p{
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
}

.slider-assessment{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splide{
  width: 100%;
}

.splide__slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.splide__slide i{
color: #FFCE39;
}

.splide__slide h3{
  font-weight: 500;
}
.splide__slide p{
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
  margin: 30px 0;
}

.splide img{
border-radius: 50%;
}


