* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --font-color-primary: #ffffff;
  --font-color-secondary: #c00113;
  --font-background-hover: #8d0a17df;
  --font-size-p-desktop: 1.1rem;
  --font-size-title-desktop: 2.6rem;
}

/* .navbar{
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
} */
.navbar-brand img {
  width: 220px;
}

.nav-item a {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.navbar-custom a {
  color: var(--font-color-primary);
  transition: all 0.5s;

}

.navbar-custom-trans {
  background-color: var(--font-color-primary);
  transition: all 0.5s;
}

.nav-item a:hover {
  color: var(--font-color-secondary);
}

.nav-item:nth-child(4) a {
  color: var(--font-color-primary);
  background-color: var(--font-color-secondary);
  background-color: var(--font-color-secondary);
  border-radius: 5px;
}

.nav-item:nth-child(4) a:hover {
  color: var(--font-color-primary);
  background-color: var(--font-background-hover);
  border-radius: 5px;
}

swiper-container {
  width: 100vw;
  height: 100vh;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  filter: brightness(50%);
}

.box-text-slider {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: var(--font-color-primary);
  text-align: center;
}

.box-text-slider h2 {
  font-size: 3.4rem;
  font-weight: 700;
  font-size: var(--font-size-title-desktop);
}

.box-text-slider p {
  font-size: var(--font-size-p-desktop);
}

.box-text-slider a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--font-color-primary);
  background-color: var(--font-color-secondary);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.box-text-slider a:hover {
  background-color: var(--font-background-hover);
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.services-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.services-text h2 {
  font-size: var(--font-size-title-desktop);
  font-weight: 700;
}

.services-text {
  text-align: center;
  width: 80%;
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
}

.services-container {
  width: 90%;
}

.services-container img {
  width: 140px;
  transition: all 0.3s;
}

.services-container img:hover {
  transform: scale(1.1);
}

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-box h3 {
  font-weight: 700;
  color: var(--font-color-secondary);
}

.service-box p {
  font-size: var(--font-size-p-desktop);
  font-weight: 500;
}


[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
    /* mudar para +100 */
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

.old-in-left {
  opacity: 0;
}

.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: .1s;
}