:root {
    --font-color-primary: #ffffff;
    --font-color-secondary: #c00113;
    --font-background-hover: #8d0a17df;
    --background-color: #0e1011;
    --font-size-p-desktop: 1.1rem;
    --font-size-title-desktop: 2.6rem;
}

.container-contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.container-contact p {
    color: var(--font-color-primary);
    font-weight: 500;
    font-size: var(--font-size-p-desktop);
}

.container-contact h2 {
    font-size: var(--font-size-title-desktop);
    font-weight: 700;
}

.contact-background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../image/images/contact-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(35%);
    position: relative;
}

.contact-text {
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.contact {
    margin-top: 10px;
}

.contact a {
    margin: 0 10px;
    text-decoration: none;
    background-color: var(--font-color-secondary);
    color: var(--font-color-primary);
    padding: 10px;
    border-radius: 7px;
    transition: all .3s;
}

.contact a:hover {
    background-color: var(--font-background-hover);
}

.location iframe {
    min-height: 90vh;
    width: 100vw;
}