:root {
    --font-color-primary: #ffffff;
    --font-color-secondary: #c00113;
    --background-color: #0e1011;
    --font-size-p-desktop: 1.1rem;
    --font-size-title-desktop: 2.6rem;
}

.container-contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.container-contact p {
    font-weight: 500;
    font-size: var(--font-size-p-desktop);
}

.container-contact h2 {
    font-size: var(--font-size-title-desktop);
    font-weight: 700;
}

.contact-text {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.box-contact {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-contact p {
    line-height: .8rem;
    text-align: center;

}

.box-contact a {
    text-decoration: none;
    margin: 10px 0;
    color: var(--background-color);
    font-weight: 500;
    position: relative;
    display: inline;
    transition: all .5s;
}

.box-contact a:hover {
    color: #c00113;
}

.box-contact a h3 {
    font-weight: 500;
}

.box-contact a:nth-child(1)::before {
    content: '';
    width: 25px;
    height: 25px;
    left: -30px;
    top: 5px;
    background-image: url(../../image/icon/phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.box-contact a:nth-child(2)::before {
    content: '';
    width: 25px;
    height: 25px;
    left: -30px;
    top: 5px;
    background-image: url(../../image/icon/whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.box-contact a:nth-child(3)::before {
    content: '';
    width: 25px;
    height: 25px;
    left: 50px;
    top: 5px;
    background-image: url(../../image/icon/map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.contact-text img {
    border-radius: 15px;
}

.location iframe {
    min-height: 70vh;
    width: 100vw;
}