:root {
    --font-color-primary: #ffffff;
    --font-color-secondary: #c00113;
    --font-background-hover: #8d0a17df;
    --background-color: #0e1011;
    --font-size-p-desktop: 1.1rem;
    --font-size-title-desktop: 2.6rem;
}

.container-contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.container-contact p {
    color: var(--font-color-primary);
    font-weight: 500;
    margin: 30px 0;
    font-size: var(--font-size-p-desktop);
}

.container-contact h2 {
    font-size: var(--font-size-title-desktop);
    font-weight: 700;
}

@media(max-width: 768px) {
    .container-contact h2 {
        font-size: calc(var(--font-size-title-desktop) - .8rem);
    }
}


.contact-text {
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 5;
}


.text {
    width: 90%;
}

.contact a {
    margin: 0 20px;
    text-decoration: none;
    background-color: var(--font-color-secondary);
    color: var(--font-color-primary);
    padding: 10px;
    border-radius: 7px;
    transition: all .3s;
}

.contact a:hover {
    background-color: var(--font-background-hover);
}


@media(max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact a {
        margin: 10px 0;
    }
}



.contact-background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../image/images/contact-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(35%);
    position: relative;
}


.location iframe {
    min-height: 100vh;
    width: 100vw;
}

footer {
    width: 100vw;
    background-color: var(--background-color);
}

footer h2 {
    font-size: calc(var(--font-size-title-desktop) - 1rem);
    font-weight: 700;
    color: var(--font-color-primary);
}

footer p {
    font-size: var(--font-size-p-desktop);
    font-weight: 500;
    color: var(--font-color-primary);
}

.container-footer {
    width: 90%;
    margin: auto;
}

.container-footer img {
    width: 200px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media(max-width: 768px) {
    .box-footer {
        flex-direction: column;

    }
}



.box-footer a {
    text-decoration: none;
    color: var(--font-color-primary);
    margin: 10px;
    transition: all .3s;
    font-weight: 500;
}

.box-footer a:hover {
    color: var(--font-color-secondary);
}

.rights-reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #ffffff;
    padding: 10px;
}

.rights-reserved a {
    position: relative;
    text-decoration: none;
    color: var(--font-color-primary);
    transition: all .3s;
}

.rights-reserved a:hover {
    color: var(--font-color-secondary);
}

.rights-reserved a::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: var(--font-color-primary);
}

@media(max-width: 768px) {
    .rights-reserved a {
        text-align: center;
        font-size: .7rem;
    }
}